*{
    line-height: 1.5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
}
h1{
    font-size: 38px;
}
h2{
    font-size: 32px;
}
.ingredients-list{
    list-style-type: square inside;
    color: aqua;
}
header > img{
    width: 100px;
}
ul > li> a{
    text-decoration: none;
    color: inherit;
}

input{
    cursor: pointer;
    outline: none;
}
form input:last-child{
    background: red;
}
form input:last-child:hover {
    background: darkred;
}
section ol li:nth-child(odd){
    background-color: lightgray;
}
h2 + .user_review{
    border-top: 1px solid black;
}

input[type="radio"]{
    -webkit-appearance: none;
    background-image: url('./assets/stars.png');
    width: 26px;
    height: 26px;
    vertical-align: bottom;
}

input[type="radio"]:hover {
   background-position: center;
}

input[type="radio"]:checked {
    background-position: bottom;
    background-position-y: 30px;
    background-position-x: 30px;
}